{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="An impressive and flawless site template that includes various UI elements and countless features, attractive ready-made blocks and rich pages, basically everything you need to create a unique and professional website.">
  <meta name="keywords"
    content="Tailwind CSS, business, corporate, creative, gulp, marketing, minimal, modern, multipurpose, one page, responsive, saas, sass, seo, startup, html5 template, site template">
  <meta name="author" content="elemis">
  <title>{% block title %}{% endblock title %}</title>
  <style>
      .card-img-top {
          width: 100%;
          aspect-ratio: 16 / 9; /* Har bir karta uchun bir xil proporsiyalar */
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #f9f9f9; /* Foni */
      }
      .card-img-top img, 
      .card-img-top video {
          width: 100%;
          height: 100%;
          object-fit: cover; /* Rasm va video ko‘rinishini moslashtiradi */
      }
      .text-red {
          color: #ff0000; /* Qizil rang */
      }

      .text-red:hover {
          color: #cc0000; /* Hover effekti uchun quyuqroq qizil */
      }
  </style>


  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@400;500;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/fonts/unicons/unicons.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/colors/aqua.css' %}">
  <link rel="preload" href="{% static 'assets/css/fonts/thicccboi.css' %}" as="style" onload="this.rel='stylesheet'">
  <link rel="stylesheet" href="{% static 'assets/css/icon.css' %}">
  <style>
    .navbar.navbar-light.fixed .btn:not(.btn-expand):not(.btn-gradient) {
      background: #54a8c7 !important;
      border-color: #54a8c7 !important;
      color: #ffffff !important;
    }

    .accordion-wrapper .card-header button {
      color: #54a8c7;
    }

    @media (min-width: 992px) {
      .navbar-expand-lg.navbar-light .dropdown:not(.dropdown-submenu)>.dropdown-toggle:after {
        color: #54a8c7 !important;
      }
    }
  </style>
</head>

<body class="font-THICCCBOI text-[.85rem]">
  <div class="grow shrink-0">
    <header class="relative wrapper  bg-[#262b32] opacity-100 ">
        <nav class="navbar navbar-expand-lg center-nav navbar-dark navbar- bg-[#21262c] opacity-100 ">
            <div class="container xl:flex-row lg:flex-row !flex-nowrap items-center">
              <div class="navbar-brand w-full">
                <a href="/">
                  <img src="{% static 'assets/img/dgd-logo.png' %}" srcset="{% static 'assets/img/dgd-logo.png' %} 2x" alt="image" style="width: 230px; height: 45px;">
                </a>
              </div>
              <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
                <div class="offcanvas-header xl:hidden lg:hidden flex items-center justify-between flex-row p-6">
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body xl:!ml-auto lg:!ml-auto flex  flex-col !h-full">
                  <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">{% trans 'Bosh sahifa' %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'service' %}">{% trans 'Xizmatlar' %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">{% trans 'Kompaniya haqida' %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'termsandconditions' %}">{% trans 'Shartlar va Qoidalar' %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">{% trans 'Yangiliklar' %}</a></li>
                  </ul>
                  <!-- /.navbar-nav -->
                  <div class="offcanvas-footer xl:hidden lg:hidden">
                    <div>
                      <a href="mailto:dgdconsulting2011@gmail.com" class="link-inverse">dgdconsulting2011@gmail.com</a>
                      <br>+99833 111 20 23<br>
                      <nav class="nav social social-white mt-4">
                        <a class="m-[0_.7rem_0_0] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 hover:translate-y-[-0.15rem]" href="https://t.me/+K8zEDHryoXs4NDE6"><i class="uil uil-telegram before:content-['\ed59'] text-[1rem] text-[#5daed5]"></i></a>
                        <a class="m-[0_.7rem_0_0] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 hover:translate-y-[-0.15rem]" href="https://www.facebook.com/"><i class="uil uil-facebook-f before:content-['\eae2'] text-[1rem] text-[#4470cf]"></i></a>
                        <a class="m-[0_.7rem_0_0] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 hover:translate-y-[-0.15rem]" href="https://www.linkedin.com/company/dgd-consulting-uzbekistan/"><i class="uil uil-linkedin before:content-['\eaa2'] text-[1rem] text-[#e94d88]"></i></a>
                        <a class="m-[0_.7rem_0_0] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 hover:translate-y-[-0.15rem]" href="https://www.instagram.com/dgdconsulting"><i class="uil uil-instagram before:content-['\eb9c'] text-[1rem] text-[#d53581]"></i></a>
                        <a class="m-[0_.7rem_0_0] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 hover:translate-y-[-0.15rem]" href="https://www.youtube.com"><i class="uil uil-youtube before:content-['\edb5'] text-[1rem] text-[#c8312b]"></i></a>
                      </nav>
                      <!-- /.social -->
                    </div>
                  </div>
                  <!-- /.offcanvas-footer -->
                </div>
                <!-- /.offcanvas-body -->
              </div>
              <!-- /.navbar-collapse -->
              <div class="navbar-other w-full !flex !ml-auto">
                <ul class="navbar-nav !flex-row !items-center !ml-auto">
                  <li class="nav-item dropdown language-select uppercase">
                    <a class="nav-link dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ request.LANGUAGE_CODE|upper }}  <!-- Hozirgi tilni ko'rsatish -->
                    </a>
                    <ul class="dropdown-menu">
                        <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <li class="nav-item">
                                <button class="dropdown-item" type="submit" name="language" value="uz">UZ</button>
                            </li>
                            <li class="nav-item">
                                <button class="dropdown-item" type="submit" name="language" value="ru">RU</button>
                            </li>
                            <li class="nav-item">
                                <button class="dropdown-item" type="submit" name="language" value="en">EN</button>
                            </li>
                        </form>
                    </ul>
                  </li>
                  <li class="nav-item hidden xl:block lg:block md:block">
                    <a href="{% url 'contact' %}" class="btn btn-sm btn-primary text-white !bg-[#3f78e0] border-[#3f78e0] hover:text-white hover:bg-[#3f78e0] hover:border-[#3f78e0] focus:shadow-[rgba(92,140,229,1)] active:text-white active:bg-[#3f78e0] active:border-[#3f78e0] disabled:text-white disabled:bg-[#3f78e0] disabled:border-[#3f78e0] !rounded-[50rem]">{% trans "Bog'lanish" %}</a>
                  </li>
                  <li class="nav-item xl:hidden lg:hidden">
                    <button class="hamburger offcanvas-nav-btn"><span></span></button>
                  </li>
                </ul>
                <!-- /.navbar-nav -->
              </div>
              <!-- /.navbar-other -->
            </div>
            <!-- /.container -->
          </nav>
      <!-- /.navbar -->
      <div class="offcanvas offcanvas-top !bg-[#ffffff] " id="offcanvas-search" data-bs-scroll="true">
        <div class="container flex !flex-row py-6">
          <form
            class=" search-form relative before:content-['\eca5'] before:block before:absolute before:-translate-y-2/4 before:text-[1rem] before:text-[#343f52] before:z-[1] before:right-auto before:top-2/4 before:font-Unicons w-full before:left-0 focus:!outline-offset-0 focus:outline-0">
            <input id="search-form1" type="text"
              class="form-control text-[0.8rem] !shadow-none pl-[1.75rem] !pr-[.75rem] border-0 bg-inherit m-0 block w-full font-medium leading-[1.7] text-[#60697b] px-4 py-[0.6rem] rounded-[0.4rem] focus:!outline-offset-0 focus:outline-0"
              placeholder="Type keyword and hit enter">
          </form>
          <button type="button"
            class="btn-close leading-none text-[#343f52] transition-all duration-[0.2s] ease-in-out p-0 border-0 motion-reduce:transition-none before:text-[1.05rem] before:content-['\ed3b'] before:w-[1.8rem] before:h-[1.8rem] before:leading-[1.8rem] before:shadow-none before:transition-[background] before:duration-[0.2s] before:ease-in-out before:flex before:justify-center before:items-center before:m-0 before:p-0 before:rounded-[100%] hover:no-underline bg-inherit before:bg-[rgba(0,0,0,.08)] before:font-Unicons hover:before:bg-[rgba(0,0,0,.11)] focus:outline-0"
            data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <!-- /.container -->
      </div>
      <!-- /.offcanvas -->
    </header>
    <!-- /header -->

    {% block content %}

        
    {% endblock content %}

    <!-- /.content-wrapper -->
    <footer class=" bg-[#21262c] opacity-100  text-[#cacaca]">
        <div class="container pt-28 xl:pt-36 lg:pt-36 md:pt-36 pb-16 xl:pb-20 lg:pb-20 md:pb-20">
        <div class="flex flex-wrap mx-[-15px] mt-[-30px] xl:mt-0 lg:mt-0">
            <div
            class="md:w-4/12 xl:w-3/12 lg:w-3/12 w-full flex-[0_0_auto] px-[15px] max-w-full xl:mt-0 lg:mt-0 mt-[30px]">
            <div class="widget text-[#cacaca]">
                <img class="!mb-4" src="{% static 'assets/img/dgd-logo.png' %}" srcset="{% static 'assets/img/dgd-logo.png' %} 2x" alt="image" style="width: 230px; height: 45px;">
                <p class="!mb-4">© 2025 DGD Consulting. <br class="hidden xl:block lg:block text-[#cacaca]">{% trans 'Barcha huquqlar himoyalangan.' %}
                </p>
                <nav class="nav social social-white">
                <a class="text-[#cacaca] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 motion-reduce:transition-none hover:translate-y-[-0.15rem] m-[0_.7rem_0_0]"
                    href="https://t.me/+K8zEDHryoXs4NDE6"><i class="uil uil-telegram before:content-['\ed59'] !text-white text-[1rem]"></i></a>
                <a class="text-[#cacaca] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 motion-reduce:transition-none hover:translate-y-[-0.15rem] m-[0_.7rem_0_0]"
                    href="https://www.facebook.com/"><i class="uil uil-facebook-f before:content-['\eae2'] !text-white text-[1rem]"></i></a>
                <a class="text-[#cacaca] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 motion-reduce:transition-none hover:translate-y-[-0.15rem] m-[0_.7rem_0_0]"
                    href="https://www.linkedin.com/company/dgd-consulting-uzbekistan/"><i class="uil uil-linkedin before:content-['\eaa2'] !text-white text-[1rem]"></i></a>
                <a class="text-[#cacaca] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 motion-reduce:transition-none hover:translate-y-[-0.15rem] m-[0_.7rem_0_0]"
                    href="https://www.instagram.com/dgdconsulting"><i class="uil uil-instagram before:content-['\eb9c'] !text-white text-[1rem]"></i></a>
                <a class="text-[#cacaca] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 motion-reduce:transition-none hover:translate-y-[-0.15rem] m-[0_.7rem_0_0]"
                    href="https://www.youtube.com"><i class="uil uil-youtube before:content-['\edb5'] !text-white text-[1rem]"></i></a>
                </nav>
                <!-- /.social -->
            </div>
            <!-- /.widget -->
            </div>
            <!-- /column -->
            <div
            class="md:w-4/12 xl:w-3/12 lg:w-3/12 w-full flex-[0_0_auto] px-[15px] max-w-full xl:mt-0 lg:mt-0 mt-[30px]">
            <div class="widget text-[#cacaca]">
                <h4 class="widget-title text-white !mb-3 !text-[1rem] !leading-[1.45]">DGD Consulting</h4>
                <address class="xl:pr-20 xxl:!pr-28 not-italic leading-[inherit] block mb-4">{% blocktrans %}Navruz ko'chasi, 10/06 Yangidarxon tumani,
                Toshkent, O'zbekiston{% endblocktrans %} </address>
                <a class="text-[#cacaca] hover:text-[#54a8c7]" href="mailto:dgdconsulting2011@gmail.com">dgdconsulting2011@gmail.com</a><br><a href="tel:+998331112023" class="text-[#cacaca] hover:text-[#54a8c7]">+99833 111-20-23</a>
            </div>
            <!-- /.widget -->
            </div>
            <!-- /column -->
            <div
            class="md:w-4/12 xl:w-3/12 lg:w-3/12 w-full flex-[0_0_auto] px-[15px] max-w-full xl:mt-0 lg:mt-0 mt-[30px]">
            <div class="widget text-[#cacaca]">
                <h4 class="widget-title text-white !mb-3 !text-[1rem] !leading-[1.45]">{% trans "Ma'lumot" %}</h4>
                <ul class="pl-0 list-none   !mb-0">
                <li><a class="text-[#cacaca] hover:text-[#54a8c7]" href="{% url 'about' %}">{% blocktrans %}Kompaniya haqida{% endblocktrans %}</a></li>
                <li class="mt-[0.35rem]"><a class="text-[#cacaca] hover:text-[#54a8c7]" href="{% url 'service' %}">{% trans 'Xizmatlar' %}</a></li>
                <li class="mt-[0.35rem]"><a class="text-[#cacaca] hover:text-[#54a8c7]" href="{% url 'termsandconditions' %}">{% blocktrans %}Shartlar va qoidalar{% endblocktrans %}</a></li>
                <li class="mt-[0.35rem]"><a class="text-[#cacaca] hover:text-[#54a8c7]" href="{% url 'blog' %}">{% trans 'Yangiliklar' %}</a></li>
                </ul>
            </div>
            <!-- /.widget -->
            </div>
            <!-- /column -->
            <div
            class="md:w-full xl:w-3/12 lg:w-3/12 w-full flex-[0_0_auto] px-[15px] max-w-full xl:mt-0 lg:mt-0 mt-[30px]">
            <div class="widget text-[#cacaca]">
                <h4 class="widget-title text-white !mb-3 !text-[1rem] !leading-[1.45]">{% blocktrans %}Obuna bo'lish{% endblocktrans %} </h4>
                <p class="!mb-5">{% blocktrans %}Yangiliklarimiz va takliflarimizdan xabardor bo'lish uchun elektron pochtangizni kiriting...{% endblocktrans %}</p>
                <div class="newsletter-wrapper">
                <!-- Begin Mailchimp Signup Form -->
                <div id="mc_embed_signup2">
                    <form
                    action=""
                    method="post" id="mc-embedded-subscribe-form2" name="mc-embedded-subscribe-form"
                    class="validate dark-fields" novalidate>{% csrf_token %}
                    <div id="mc_embed_signup_scroll2">
                        <div class="!text-left input-group form-floating !relative flex flex-wrap items-stretch w-full">
                        <input type="email" value="" name="EMAIL"
                            class="required email form-control block w-full text-[12px] font-medium leading-[1.7] appearance-none bg-clip-padding shadow-[0_0_1.25rem_rgba(30,34,40,0.04)] px-4 py-[0.6rem] rounded-[0.4rem] motion-reduce:transition-none focus:text-[#60697b] focus:bg-[rgba(255,255,255,.03)] focus:shadow-[0_0_1.25rem_rgba(30,34,40,0.04),unset] disabled:bg-[#aab0bc] disabled:opacity-100 file:mt-[-0.6rem] file:mr-[-1rem] file:mb-[-0.6rem] file:ml-[-1rem] file:text-[#60697b] file:bg-[#fefefe] file:pointer-events-none file:transition-all file:duration-[0.2s] file:ease-in-out file:px-4 file:py-[0.6rem] file:rounded-none motion-reduce:file:transition-none placeholder:text-[#959ca9] placeholder:opacity-100 border border-solid !border-[rgba(255,255,255,0.1)] text-[#cacaca] focus:!border-[rgba(84,168,199,.5)] bg-[rgba(255,255,255,.03)] focus-visible:!border-[rgba(84,168,199,.5)] focus-visible:!outline-0"
                            placeholder="Elektron pochta" id="mce-EMAIL2">
                        <label
                            class="!ml-[0.05rem] text-[#959ca9] text-[.75rem] absolute z-[2] h-full overflow-hidden text-start text-ellipsis whitespace-nowrap pointer-events-none origin-[0_0] px-4 py-[0.6rem] left-0 top-0"
                            for="mce-EMAIL2">{% blocktrans %}Elektron pochta{% endblocktrans %}</label>
                        <input type="submit" value="{% trans 'Yuborish' %}" name="subscribe" id="mc-embedded-subscribe2"
                            class="btn btn-aqua text-white !bg-[#54a8c7] border-[#54a8c7] hover:text-white hover:bg-[#54a8c7] hover:border-[#54a8c7] focus:shadow-[rgba(79,152,181,1)] focus:text-white active:text-white active:bg-[#54a8c7] active:border-[#54a8c7] disabled:text-white disabled:bg-[#54a8c7] disabled:border-[#54a8c7] !relative z-[2] focus:z-[5] hover:!transform-none border-0 !text-[.85rem]">
                        </div>
                        <div id="mce-responses2" class="clear">
                        <div class="response" id="mce-error-response2" style="display:none"></div>
                        <div class="response" id="mce-success-response2" style="display:none"></div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                            name="b_ddc180777a163e0f9f66ee014_4b1bcfa0bc" tabindex="-1" value=""></div>
                        <div class="clear"></div>
                    </div>
                    </form>
                </div>
                <!--End mc_embed_signup-->
                </div>
                <!-- /.newsletter-wrapper -->
            </div>
            <!-- /.widget -->
            </div>
            <!-- /column -->
        </div>
        <!--/.row -->
        </div>
        <!-- /.container -->
    </footer>
    <!-- progress wrapper -->
    <div
        class="progress-wrap fixed w-[2.3rem] h-[2.3rem] cursor-pointer block shadow-[inset_0_0_0_0.1rem_rgba(128,130,134,0.25)] z-[1010] opacity-0 invisible translate-y-3 transition-all duration-[0.2s] ease-[linear,margin-right] delay-[0s] rounded-[100%] right-6 bottom-6 motion-reduce:transition-none after:absolute after:content-['\e951'] after:text-center after:leading-[2.3rem] after:text-[1.2rem] after:text-[#54a8c7] after:h-[2.3rem] after:w-[2.3rem] after:cursor-pointer after:block after:z-[1] after:transition-all after:duration-[0.2s] after:ease-linear after:left-0 after:top-0 motion-reduce:after:transition-none after:font-Unicons">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path
            class="fill-none stroke-[#54a8c7] stroke-[4] box-border transition-all duration-[0.2s] ease-linear motion-reduce:transition-none"
            d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
    </body>

    </html>    