{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %}{% blocktrans %}Yangiliklar{% endblocktrans %}{% endblock title %}

{% block content %}
    <section class="wrapper !bg-[#edf2fc]">
      <div class="container !pt-10 !pb-36 xl:!pt-[4.5rem] lg:!pt-[4.5rem] md:!pt-[4.5rem] xl:!pb-40 lg:!pb-40 md:!pb-40 !text-center">
        <div class="flex flex-wrap mx-[-15px]">
          <div class="md:w-7/12 lg:w-6/12 xl:w-5/12 w-full flex-[0_0_auto] px-[15px] max-w-full !mx-auto">
            <h1 class="text-[calc(1.365rem_+_1.38vw)] font-bold leading-[1.2] xl:text-[2.4rem] !mb-3">{% blocktrans %}Kompaniya yangiliklari{% endblocktrans %}</h1>
            <p class="lead lg:!px-[1.25rem] xl:!px-[1.25rem] xxl:!px-[2rem] leading-[1.65] text-[0.9rem] font-medium">{% blocktrans %}Yangiliklar bo‘limimizga xush kelibsiz! Ushbu bo‘limda kompaniyamizga oid so‘nggi yangiliklar va dolzarb maqolalarni topishingiz mumkin.{% endblocktrans %}</p>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <div class="wrapper !bg-[#ffffff]">
      <div class="container !pb-[4.5rem] xl:!pb-24 lg:!pb-24 md:!pb-24">
        <div class="flex flex-wrap mx-[-15px]">
          <div class="xl:w-10/12 lg:w-10/12 w-full flex-[0_0_auto] px-[15px] max-w-full !mx-auto">
            <div class="blog classic-view !mt-[-7rem]">
              {% for i in news_list %}
              <article class="post mb-8">
                <div class="card">
                  {% if i.video %}
                    <div class="card-img-top">
                      <video controls width="100%">
                          <source src="{{ i.video.url }}" type="video/mp4">
                          {% blocktrans %}Your browser does not support the video tag.{% endblocktrans %}
                      </video>
                    </div>
                  {% else %}
                    <div class="card-img-top">
                      {% with i.newsimage_set.all as images %}
                      {% if images %}
                          <!-- Bitta rasm bo'lsa faqat bitta rasmni ko'rsatadi -->
                          <figure class="card-img-top overlay overlay-1 hover-scale group">
                            <a href="{% url 'newsdetail' i.slug %}">
                                <img class="!transition-all !duration-[0.35s] !ease-in-out group-hover:scale-105" src="{{ images.0.image.url }}" alt="{{ i.title }}" style="width: 100%; height: auto;">
                            </a>
                            <figcaption class="group-hover:opacity-100 absolute w-full h-full opacity-0 text-center px-4 py-3 inset-0 z-[5] pointer-events-none p-2">
                                <h5 class="from-top !mb-0 absolute w-full translate-y-[-80%] p-[.75rem_1rem] left-0 top-2/4">{% blocktrans %}Batafsil{% endblocktrans %}</h5>
                            </figcaption>
                          </figure>
                      {% else %}
                      <!-- Agar rasm mavjud bo'lmasa, standart rasm ko'rsatiladi -->
                          <img src="{% static 'assets/img/default-image.jpg' %}" alt="No Image" style="width: 100%; height: auto;">
                      {% endif %}
                      {% endwith %}
                    </div>
                  {% endif %}
                  <div class="card-body flex-[1_1_auto] p-[40px] xl:p-[2rem_2.5rem_1.25rem] lg:p-[2rem_2.5rem_1.25rem] md:p-[2rem_2.5rem_1.25rem] sm:pb-4 xsm:pb-4  ">
                    <div class="post-header !mb-[.9rem]">
                      <div class="inline-flex mb-[.4rem] uppercase tracking-[0.02rem] text-[0.7rem] font-bold text-[#aab0bc] relative align-top pl-[1.4rem] before:content-[''] before:absolute before:inline-block before:translate-y-[-60%] before:w-3 before:h-[0.05rem] before:left-0 before:top-2/4 before:bg-[#3f78e0]">
                        <a class="hover" rel="category">{{ i.category.name }}</a>
                      </div>
                      <!-- /.post-category -->
                      <h2 class="post-title mt-1 !leading-[1.35] !mb-0"><a class="text-[#343f52] hover:text-[#3f78e0]" href="{% url 'newsdetail' i.slug %}">{{ i.title|truncatewords:20 }}</a></h2>
                    </div>
                    <!-- /.post-header -->
                    <div class="!relative">
                      <p>{{ i.description|truncatewords:50 }}</p>
                    </div>
                    <!-- /.post-content -->
                  </div>
                  <!--/.card-body -->
                  <div class="card-footer xl:p-[1.25rem_2.5rem_1.25rem] lg:p-[1.25rem_2.5rem_1.25rem] md:p-[1.25rem_2.5rem_1.25rem] p-[18px_40px]">
                    <ul class="text-[0.7rem] text-[#aab0bc] m-0 p-0 list-none flex  !mb-0">
                      <li class="post-date inline-block"><i class="uil uil-calendar-alt pr-[0.2rem] align-[-.05rem] before:content-['\e9ba']"></i><span>{{ i.created_at }}</span></li>
                      <li class="post-author inline-block before:content-[''] before:inline-block before:w-[0.2rem] before:h-[0.2rem] before:opacity-50 before:m-[0_.6rem_0] before:rounded-[100%] before:align-[.15rem] before:bg-[#aab0bc]"><a class="text-[#aab0bc] hover:text-[#3f78e0] hover:border-[#3f78e0]"><i class="uil uil-user pr-[0.2rem] align-[-.05rem] before:content-['\ed6f']"></i><span>{{ i.creator }}</span></a></li>
                    </ul>
                    <!-- /.post-meta -->
                  </div>
                  <!-- /.card-footer -->
                </div>
                <!-- /.card -->
              </article>
              {% endfor %}
            </div>
            <!-- /.blog -->
            <div class="blog itemgrid grid-view">
              <div class="flex flex-wrap mx-[-15px] isotope xl:mx-[-20px] lg:mx-[-20px] md:mx-[-20px] mt-[-40px] !mb-8">
                {% for i in news_list2 %}
                  <article class="item post xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] xl:px-[20px] lg:px-[20px] md:px-[20px] mt-[40px] px-[15px] max-w-full">
                    <div class="card">
                      {% if i.video %}
                          <figure class="card-img-top">
                              <video controls width="100%">
                                  <source src="{{ i.video.url }}" type="video/mp4">
                                  {% blocktrans %}Your browser does not support the video tag.{% endblocktrans %}
                              </video>
                          </figure>
                      {% else %}
                      <!-- Agar rasm mavjud bo'lsa -->
                      {% with i.newsimage_set.first as image %}
                      {% if image %}
                        <figure class="card-img-top overlay overlay-1 hover-scale group">
                            <a href="{% url 'newsdetail' i.slug %}">
                                <img class="!transition-all !duration-[0.35s] !ease-in-out group-hover:scale-105" src="{{ image.image.url }}" alt="image">
                            </a>
                            <figcaption class="group-hover:opacity-100 absolute w-full h-full opacity-0 text-center px-4 py-3 inset-0 z-[5] pointer-events-none p-2">
                                <h5 class="from-top !mb-0 absolute w-full translate-y-[-80%] p-[.75rem_1rem] left-0 top-2/4">{% blocktrans %}Batafsil{% endblocktrans %}</h5>
                            </figcaption>
                        </figure>
                      {% else %}
                      <!-- Agar rasm va video bo'lmasa, standart rasmni ko'rsatadi -->
                        <figure class="card-img-top">
                            <img src="{% static 'assets/img/default-image.jpg' %}" alt="No Image" style="width: 100%; height: auto;">
                        </figure>
                      {% endif %}
                      {% endwith %}
                      {% endif %}
                      <div class="card-body flex-[1_1_auto] p-[40px] xl:p-[1.75rem_1.75rem_1rem_1.75rem] lg:p-[1.75rem_1.75rem_1rem_1.75rem] md:p-[1.75rem_1.75rem_1rem_1.75rem] sm:pb-4 xsm:pb-4  ">
                        <div class="post-header !mb-[.9rem]">
                          <div class="inline-flex mb-[.4rem] uppercase tracking-[0.02rem] text-[0.7rem] font-bold text-[#aab0bc] relative align-top pl-[1.4rem] before:content-[''] before:absolute before:inline-block before:translate-y-[-60%] before:w-3 before:h-[0.05rem] before:left-0 before:top-2/4 before:bg-[#3f78e0]">
                            <a href="#" class="hover" rel="category">{{ i.category.name }}</a>
                          </div>
                          <!-- /.post-category -->
                          <h2 class="post-title h3 !mt-1 !mb-3"><a class="text-[#343f52] hover:text-[#3f78e0]" href="{% url 'newsdetail' i.slug %}">{{ i.title|truncatewords:20 }}</a></h2>
                        </div>
                        <!-- /.post-header -->
                        <div class="!relative">
                          <p>{{ i.description|truncatewords:50 }}</p>
                        </div>
                        <!-- /.post-content -->
                      </div>
                      <!--/.card-body -->
                      <div class="card-footer xl:p-[1.25rem_1.75rem_1.25rem] lg:p-[1.25rem_1.75rem_1.25rem] md:p-[1.25rem_1.75rem_1.25rem] p-[18px_40px]">
                        <ul class="text-[0.7rem] text-[#aab0bc] m-0 p-0 list-none flex  !mb-0">
                          <li class="post-date inline-block"><i class="uil uil-calendar-alt pr-[0.2rem] align-[-.05rem] before:content-['\e9ba']"></i><span>{{ i.created_at }}</span></li>
                          <li class="post-author inline-block before:content-[''] before:inline-block before:w-[0.2rem] before:h-[0.2rem] before:opacity-50 before:m-[0_.6rem_0] before:rounded-[100%] before:align-[.15rem] before:bg-[#aab0bc]"><a class="text-[#aab0bc] hover:text-[#3f78e0] hover:border-[#3f78e0]"><i class="uil uil-user pr-[0.2rem] align-[-.05rem] before:content-['\ed6f']"></i><span>{{ i.creator }}</span></a></li>
                        </ul>
                        <!-- /.post-meta -->
                      </div>
                      <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                  </article>
                {% endfor %}
              </div>
              <!-- /.row -->
            </div>
            <!-- /.blog -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->
  
{% endblock content %}
