{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% blocktrans %}Bog'lanish{% endblocktrans %}{% endblock title %}



{% block content %}
    <section class="wrapper image-wrapper bg-image bg-overlay bg-overlay-400 text-white bg-no-repeat bg-[center_center] bg-cover relative z-0 !bg-fixed before:content-[''] before:block before:absolute before:z-[1] before:w-full before:h-full before:left-0 before:top-0 before:bg-[rgba(30,34,40,.4)]" data-image-src="{% static 'assets/img/photos/bg3.jpg' %}">
      <div class="container pt-28 pb-40 xl:pt-36 lg:pt-36 md:pt-36 xl:pb-[12.5rem] lg:pb-[12.5rem] md:pb-[12.5rem] !text-center">
        <div class="flex flex-wrap mx-[-15px]">
          <div class="xl:w-8/12 lg:w-8/12 w-full flex-[0_0_auto] px-[15px] max-w-full !mx-auto">
            <h1 class="text-[calc(1.365rem_+_1.38vw)] font-bold leading-[1.2] xl:text-[2.4rem] mb-3 text-white">{% blocktrans %}Biz bilan bogʻlanish{% endblocktrans %}</h1>
            <nav class="inline-block" aria-label="breadcrumb">
              <ol class="breadcrumb  flex flex-wrap bg-[none] p-0 !rounded-none list-none mb-[20px]">
                <li class="breadcrumb-item flex text-[#60697b]"><a class="text-white hover:text-white" href="{% url 'home' %}">{% blocktrans %}Bosh sahifa{% endblocktrans %}</a></li>
                <li class="breadcrumb-item flex text-white pl-2 before:font-normal before:flex before:items-center before:text-[rgba(255,255,255,.5)] before:content-['\e931'] before:text-[0.9rem] before:-mt-px before:pr-2 before:font-Unicons active" aria-current="page">{% blocktrans %}Bog'lanish{% endblocktrans %}</li>
              </ol>
            </nav>
            <!-- /nav -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper !bg-[#ffffff]   relative border-0 upper-end before:top-[-4rem] before:border-l-transparent before:border-r-[100vw] before:border-t-[4rem] before:border-[#fefefe] before:content-[''] before:block before:absolute before:z-0 before:border-y-transparent before:border-0 before:border-solid before:right-0">
      <div class="container pb-12">
        <div class="flex flex-wrap mx-[-15px] !mb-[4.5rem] md:!mb-24">
          <div class="xl:w-10/12 w-full flex-[0_0_auto] px-[15px] max-w-full !mx-auto mt-[-9rem]">
            <div class="card">
              <div class="flex flex-wrap mx-0">
                <div class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] max-w-full !self-stretch">
                  <div class="map map-full rounded-t-[0.4rem] rounded-lg-start h-full min-h-[15rem]">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d943.6161271926488!2d69.19027363122981!3d41.21751080332036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae63006a41e1f5%3A0xf179fadaf71c5c8f!2sNavro&#39;z%20TJM%20uylari!5e0!3m2!1sen!2s!4v1733089566146!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
                  <!-- /.map -->
                </div>
                <!--/column -->
                <div class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] max-w-full">
                  <div class="p-10 xl:!p-[4.5rem] lg:!p-[4.5rem] md:!p-12">
                    <div class="flex flex-row">
                      <div>
                        <div class="icon text-[#3f78e0] xl:text-[1.4rem] text-[calc(1.265rem_+_0.18vw)] !mr-4 mt-[-0.25rem]"> <i class="uil uil-location-pin-alt before:content-['\ebd8']"></i> </div>
                      </div>
                      <div class="!self-start !justify-start">
                        <h5 class="!mb-1">{% blocktrans %}Ofis manzili{% endblocktrans %}</h5>
                        <address class=" not-italic leading-[inherit] mb-4">{% blocktrans %}Navro'z ko'chasi, 10/06 Yangidarxon tumani,{% endblocktrans %}<br class="hidden xl:block lg:block md:block">{% blocktrans %}Toshkent, O'zbekiston{% endblocktrans %}</address>
                      </div>
                    </div>
                    <!--/div -->
                    <div class="flex flex-row">
                      <div>
                        <div class="icon text-[#3f78e0] xl:text-[1.4rem] text-[calc(1.265rem_+_0.18vw)] !mr-4 mt-[-0.25rem]"> <i class="uil uil-phone-volume before:content-['\ec50']"></i> </div>
                      </div>
                      <div>
                        <h5 class="!mb-1">{% blocktrans %}Telefon raqam{% endblocktrans %}</h5>
                        <p>+99833 111 20 23 <br>+99833 019 98 33</p>
                      </div>
                    </div>
                    <!--/div -->
                    <div class="flex flex-row">
                      <div>
                        <div class="icon text-[#3f78e0] xl:text-[1.4rem] text-[calc(1.265rem_+_0.18vw)] !mr-4 mt-[-0.25rem]"> <i class="uil uil-envelope before:content-['\eac8']"></i> </div>
                      </div>
                      <div>
                        <h5 class="!mb-1">{% blocktrans %}Elektron pochta manzili{% endblocktrans %}</h5>
                        <p class="!mb-0"><a href="mailto:dgdconsulting2011@gmail.com" class="text-[#60697b]">dgdconsulting2011@gmail.com</a></p>
                      </div>
                    </div>
                    <!--/div -->
                  </div>
                  <!--/div -->
                </div>
                <!--/column -->
              </div>
              <!--/.row -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="flex flex-wrap mx-[-15px]">
          <div class="xl:w-8/12 xl:!ml-[16.66666667%] lg:w-10/12 lg:!ml-[8.33333333%] w-full flex-[0_0_auto] px-[15px] max-w-full">
            <!-- Xabarlarni ko'rsatish -->
            {% if messages %}
            <div class="messages">
              {% for message in messages %}
                <div 
                  class="{% if message.tags %}alert alert-{{ message.tags }}{% endif %}" 
                  role="alert"
                >
                  {{ message }}
                </div>
              {% endfor %}
            </div>
            {% endif %}
            <!-- Xabarlar blokining oxiri -->
            <h2 class="text-[calc(1.305rem_+_0.66vw)] font-bold xl:text-[1.8rem] leading-[1.3] mb-3 !text-center">{% blocktrans %}Qayta qo'ng'iroq{% endblocktrans %}</h2>
            <p class="lead leading-[1.65] text-[0.9rem] font-medium !text-center mb-10">{% blocktrans %}Kontakt ma'lumotlaringizni qoldiring va menejerimiz sizga tez orada javob beradi{% endblocktrans %}</p>
            <form class="contact-form needs-validation" method="post" novalidate action="{% url 'contact' %}">{% csrf_token %}
              <div class="messages"></div>
              <div class="flex flex-wrap mx-[-10px]">
                <div class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] px-[15px] max-w-full">
                  <div class="form-floating relative !mb-4">
                    {{ form.first_name }}
                    <label for="form_name" class="text-[#959ca9] mb-2 inline-block text-[.75rem] absolute z-[2] h-full overflow-hidden text-start text-ellipsis whitespace-nowrap pointer-events-none border origin-[0_0] px-4 py-[0.6rem] border-solid border-transparent left-0 top-0 font-Manrope">{% blocktrans %}Ism{% endblocktrans %}</label>
                    <div class="valid-feedback">{% blocktrans %}To'g'ri kiritildi!{% endblocktrans %}</div>
                    <div class="invalid-feedback">{% blocktrans %}Iltimos, ismingizni kiriting.{% endblocktrans %}</div>
                  </div>
                </div>
                <!-- /column -->
                <div class="xl:w-6/12 lg:w-6/12 md:w-6/12 w-full flex-[0_0_auto] px-[15px] max-w-full">
                  <div class="form-floating relative !mb-4">
                    {{ form.last_name}}
                    <label for="form_lastname" class="text-[#959ca9] mb-2 inline-block text-[.75rem] absolute z-[2] h-full overflow-hidden text-start text-ellipsis whitespace-nowrap pointer-events-none border origin-[0_0] px-4 py-[0.6rem] border-solid border-transparent left-0 top-0 font-Manrope">{% blocktrans %}Familya{% endblocktrans %}</label>
                    <div class="valid-feedback">{% blocktrans %}To'g'ri kiritildi!{% endblocktrans %}</div>
                    <div class="invalid-feedback">{% blocktrans %}Iltimos, familiyangizni kiriting.{% endblocktrans %}</div>
                  </div>
                </div>
                <!-- /column -->
                <div class="w-full flex-[0_0_auto] px-[15px] max-w-full">
                  <div class="form-floating relative !mb-4">
                    {{ form.email }}
                    <label 
                      for="form_email" 
                      class="text-[#959ca9] mb-2 inline-block text-[.75rem] absolute z-[2] h-full overflow-hidden text-start text-ellipsis whitespace-nowrap pointer-events-none border origin-[0_0] px-4 py-[0.6rem] border-solid border-transparent left-0 top-0 font-Manrope"
                    >
                    {% blocktrans %}Elektron pochta{% endblocktrans %}
                    </label>
                    <div class="valid-feedback">{% blocktrans %}To'g'ri kiritildi!{% endblocktrans %}</div>
                    <div class="invalid-feedback">{% blocktrans %}Iltimos, elektron pochta manzilini kiriting.{% endblocktrans %}</div>
                  </div>
                </div>
                <!-- Phone number  -->
                <div class="w-full flex-[0_0_auto] px-[15px] max-w-full">
                  <div class="form-floating relative !mb-4">
                    {{ form.phone_number }}
                    <label
                      for="form_phone"
                      class="text-[#959ca9] mb-2 inline-block text-[.75rem] absolute z-[2] h-full overflow-hidden text-start text-ellipsis whitespace-nowrap pointer-events-none border origin-[0_0] px-4 py-[0.6rem] border-solid border-transparent left-0 top-0 font-Manrope"
                    >
                    {% blocktrans %}Telefon raqamingiz{% endblocktrans %}
                    </label>
                    <div class="valid-feedback">{% blocktrans %}To'g'ri kiritildi!{% endblocktrans %}</div>
                    <div class="invalid-feedback">{% blocktrans %}Iltimos, telefon raqamingizni kiriting.{% endblocktrans %}</div>
                  </div>
                </div>
                <!-- End phone number -->
                <div class="w-full flex-[0_0_auto] px-[15px] max-w-full">
                  <div class="form-floating relative !mb-4">
                    {{ form.message }}
                    <label for="form_message" class="text-[#959ca9] mb-2 inline-block text-[.75rem] absolute z-[2] h-full overflow-hidden text-start text-ellipsis whitespace-nowrap pointer-events-none border origin-[0_0] px-4 py-[0.6rem] border-solid border-transparent left-0 top-0 font-Manrope">{% blocktrans %}Xabar{% endblocktrans %}</label>
                    <div class="valid-feedback">{% blocktrans %}To'g'ri kiritildi!{% endblocktrans %}</div>
                    <div class="invalid-feedback">{% blocktrans %}Iltimos, xabaringizni kiriting.{% endblocktrans %}</div>
                  </div>
                </div>
                <!-- /column -->
                <div class="w-full flex-[0_0_auto] px-[15px] max-w-full !text-center">
                  <input type="submit" class="btn btn-primary text-white !bg-[#3f78e0] border-[#3f78e0] hover:text-white hover:bg-[#3f78e0] hover:border-[#3f78e0] focus:shadow-[rgba(92,140,229,1)] active:text-white active:bg-[#3f78e0] active:border-[#3f78e0] disabled:text-white disabled:bg-[#3f78e0] disabled:border-[#3f78e0] !rounded-[50rem] btn-send !mb-3 hover:translate-y-[-0.15rem] hover:shadow-[0_0.25rem_0.75rem_rgba(30,34,40,0.15)]" value="{% blocktrans %}Yuborish{% endblocktrans %}">
                  <p class="text-[#aab0bc]"><strong>*</strong>{% blocktrans %}Bu maydonlarni to'ldirish talab qilinadi.{% endblocktrans %}</p>
                </div>
                <!-- /column -->
              </div>
              <!-- /.row -->
            </form>
            <!-- /form -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper image-wrapper bg-auto no-overlay bg-image !text-center bg-map bg-[center_center] bg-no-repeat !bg-scroll relative z-[0]" data-image-src="{% static 'assets/img/map.png' %}">
      <div class="container pt-0 pb-[4.5rem] xl:pt-24 lg:pt-24 md:pt-24 xl:pb-32 lg:pb-32 md:pb-32">
        <div class="flex flex-wrap mx-[-15px]">
          <div class="lg:w-9/12 xl:w-9/12 xxl:w-8/12 w-full flex-[0_0_auto] px-[15px] max-w-full !mx-auto">
            <h3 class="text-[calc(1.305rem_+_0.66vw)] font-bold xl:text-[1.8rem] leading-[1.3] !mb-8 xl:!px-14">{% blocktrans %}“100 dan ortiq kompaniyalar bizga ishonch bildirgan. Hozir ular safiga qo‘shiling va biznesingizni yangi cho‘qqilarga olib chiqing!”{% endblocktrans %}</h3>
          </div>
          <!-- /.row -->
        </div>
        <!-- /column -->
        <div class="flex flex-wrap mx-[-15px]">
          <div class="md:w-10/12 lg:w-9/12 xl:w-7/12 w-full flex-[0_0_auto] px-[15px] max-w-full !mx-auto">
            <div class="flex flex-wrap mx-[-15px] items-center counter-wrapper mt-[-20px] xl:mt-0 lg:mt-0 md:mt-0">
              <div class="xl:w-4/12 lg:w-4/12 md:w-4/12 w-full flex-[0_0_auto] px-[15px] max-w-full !text-center mt-[20px] xl:mt-0 lg:mt-0 md:mt-0">
                <h3 class="counter counter-lg text-[calc(1.345rem_+_1.14vw)] tracking-[normal] !leading-none mb-2 xl:text-[2.2rem]  text-[#3f78e0]">21</h3>
                <p class=" text-[0.8rem] font-medium mb-0">{% blocktrans %}Yakunlangan loyihalar{% endblocktrans %}</p>
              </div>
              <!--/column -->
              <div class="xl:w-4/12 lg:w-4/12 md:w-4/12 w-full flex-[0_0_auto] px-[15px] max-w-full !text-center mt-[20px] xl:mt-0 lg:mt-0 md:mt-0">
                <h3 class="counter counter-lg text-[calc(1.345rem_+_1.14vw)] tracking-[normal] !leading-none mb-2 xl:text-[2.2rem]  text-[#3f78e0]">12</h3>
                <p class=" text-[0.8rem] font-medium mb-0">{% blocktrans %}Mamnun mijozlar{% endblocktrans %}</p>
              </div>
              <!--/column -->
              <div class="xl:w-4/12 lg:w-4/12 md:w-4/12 w-full flex-[0_0_auto] px-[15px] max-w-full !text-center mt-[20px] xl:mt-0 lg:mt-0 md:mt-0">
                <h3 class="counter counter-lg text-[calc(1.345rem_+_1.14vw)] tracking-[normal] !leading-none mb-2 xl:text-[2.2rem]  text-[#3f78e0]">18</h3>
                <p class=" text-[0.8rem] font-medium mb-0">{% blocktrans %}Tajribali mutaxassislar{% endblocktrans %}</p>
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
  </div>
  <!-- /.content-wrapper -->

{% endblock content %}
